{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@model": "./model",
                    "@": "./"
                }
            }
        ]
    ]
    }